/* Write your CSS code here */

.notfound-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  padding: 30px;
}

.notfound-heading {
  font-size: 35px;
  font-family: Roboto;
  font-weight: bold;
}
